*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	padding: 10px;
}

body{
	max-width: 800px;
	margin: auto;
	padding: 10px;
	border: solid darkgreen 1px;
}

header{
	margin-bottom: 20px;
}

.site_tagline{
	font-family: brushscript, helvetica, courier, serif;
}

form{
	box-sizing: content-box;
	line-height: 1.8;
}

fieldset{
	/*display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap:10px;*/
	padding: 20px;
	margin: 10px;
}

legend{
	background: green;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
	border-radius: 5em;
}

label{
	/*grid-column: 1/2;*/
	display: inline-block;
	width: 40%;
	text-align: right;
	margin-right: 20px;
}

input, select{
	/*grid-column: 2/3;*/
	width: 50%;
	height: 2em;
	vertical-align: top;
	border: solid darkgreen 1px;
	border-radius: 1em;
}

input:hover, input:focus, select:hover, select:focus{
	background: lightgreen;
}

input[type=submit]{
	margin-left: 25%;
}

//for mobile
@media screen and (max-width: 600px){
	label, input, select{
		/*grid-column: 1/2;*/
		display: block;
		width: 100%;
	}


}